.container{
    height: 35vh;
    background-color: #414040;
    display: flex;
}

#photo{
    height: 30vh;
    width: auto;
    padding-left: 10vw;
    padding-top: 2vh;
    padding-bottom: 0;
    opacity: 0.6;
    
}

#self_introduce{
    padding-left: 5%;
    opacity: 0.8;
    font-family: 'Cedarville Cursive';
    color:antiquewhite;
}

