.container{
    height: 40vh;
    background-color: #d1d1d12f;
    display: flex;
    margin-left: 50vw;
    margin-right: 3vw;
    margin-bottom: 10vw;
    border-radius: 10%;
    
    --progress : 1;
    transform: 
                translateX(calc(100% * (1 - var(--progress))));
}


#photo{
    height: 30vh;
    width: auto;
    margin-left: 5vw;
    margin-top: 4vh;
    margin-right: 2vw;
    border-radius: 10%;
}

@media screen  and (max-aspect-ratio:4/3) {
   

    .container{
        margin-left: 30vw;
    }
}

#self_introduce{
    font-size: 2vw;
    margin-left: 3vw;
    margin-top: 10vh;
    font-family: 'Cedarville Cursive';
    color:rgba(0, 0, 0, 0.79);
    
}

hr{
    margin: 0;
    color: #3b576d;
    
}

html {
    max-width: 100%;
    overflow-x: hidden;
}