.experience-list{
    background-color: #0000005b;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10%;
    padding-bottom: 15vh;
   
}

#experience-Title{
    margin: 0;    
    padding-left: 5vw;
    padding-top: 5vw;
    padding-bottom: 3vw;
    font-family: "Times";
    font-size: 3vw;
    color: rgba(249, 240, 231, 0.521);
    
}



.experience-main{
    margin-top: 5vh;
    color:rgba(250, 235, 215, 0.589);
    font-size: 3vh;
    
    
    --progress : 1;
    transform: translateX(calc(100% * (1 - var(--progress))));
    transition: all 0.5s;
}