.banner {
    background-image: linear-gradient(rgba(211, 213, 238, 0.1), rgba(150, 207, 216, 0.2)),url("../../res/77.png");
    height: 100vh;
    border: 0;
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    display: block;
    
}

.down{
    position: absolute;
    bottom: 0px;
    left: 50vw;
    font-size: 40px;
}

.Name{
    position: absolute;
    color: rgb(26, 146, 210);
    font-size: 120px;
    left: 13vw;
    top: 40vh;
    opacity: 0.5;
    font-family: 'Cedarville Cursive';
}


a{
    color: rgb(10, 20, 43);
    opacity: 0.7;
}

a:hover{
    opacity: 0.3;
}

html {
    scroll-behavior: smooth;
}