.bar{
    display:none;
    height: 5vh;
    font-size: 15px;
    background-color: #4d738a;
    background-position-y: 30%;
    padding-top: 2vh;
    position: relative;
}

.barlink{
    
    box-shadow:  5px;
    border-radius: 10px;
    text-decoration:double;
    text-underline-position:above;
    font-family: 'Comfortaa';
    font-style: italic;

    display: inline-block;
    padding-left: 2vw;
    
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
}