.project-list{
    background-color: #0000005b;
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 10%;
    padding-bottom: 15vh;
}

#Project-Title{
    margin: 0;    
    padding-left: 10vw;
    padding-top: 5vw;
    padding-bottom: 2vw;
    font-family: "Times";
    font-size: 3vw;
    color: rgba(249, 240, 231, 0.521);
    
}

.projectname{
    margin-top:5vh;
    font-size: 1.8vw;
    margin-bottom: 1vh;
}

ul p{
    margin: 0;
    padding-left: 5vw;
    font-size: 1.3vw;
    font-family: "Times";
    color: rgba(249, 240, 231, 0.779);
}

.project{
    display: flex;
}

.rounded{

    border-radius: 50%;
    width: 10vw;
    height: auto;
    margin-left: 10vw;
    margin-top: 5vh;
    margin-bottom: 2vh;
    opacity: 1;
}

.rounded:hover{
    opacity: 1;
}

.project-list #raytrace{
    background-color:darkslategray;
}

a:link {
    color:aquamarine;
    
}